<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <li>
            <a href="https://us1.list-manage.com/contact-form?u=9ff2577a38e0f997469e5a2f6&form_id=4cf715f6e3e822f95ae3cdc413e787a9">Contact</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
